section.page__catalog.section__catalog.section._anim-items._container
    a(name='catalog')
    .catalog__heading.heading
        span.heading__decor
        h2.catalog__title.title Каталог
    .catalog__navigation-links
        a.catalog__link
            h3.catalog__category Robe
        a.catalog__link
            h3.catalog__category Compulite
    .catalog__slider-content
        ul.catalog__slider
            li.catalog-item
                    a.catalog-item__link
                        img.catalog__image(src='img/product1.png')
                        .catalog-item__desc
                            h4.catalog-item__title.title Статичные светодиодные приборы
            li.catalog-item
                    a.catalog-item__link
                        img.catalog__image(src='img/product2.png')
                        .catalog-item__desc
                            h4.catalog-item__title.title Контроллеры
            li.catalog-item
                    a.catalog-item__link
                        img.catalog__image(src='img/product3.png')
                        .catalog-item__desc
                            h4.catalog-item__title.title Аксессуары