footer.footer
    a(name='footer')
    .footer__content
        .footer__container._container
            .footer__contacts.contacts
                .contacts__phone 
                    h4.phone-number.title (812) 710-80-25
                .contacts__adress
                    | 191180, Санкт-Петербург, 
                    | Набережная реки Фонтанки, 90, корпус 1
                .contacts__email mail@translight.ru
            hr.line
            nav.footer__menu
                include menu_footer.pug
            hr.line
            .footer__copyright.copyright
                .copyright__text
                    span.coyright__sign ©
                    | 2019 ЗАО «Транслайт». Все права защищены.
                .copyright__author
                    | Разработка и дизайн - D-e-n.ru