.menu
    .menu__burger-icon 
        span
    .menu__body
        ul.menu__list
            a.link(href='#news')
                li.menu__link О компании
            a.link(href="#portfolio") 
                li.menu__link Портфолио
            a.link(href="#catalog")
                li.menu__link Каталог
            a.link(href="#rent")
                li.menu__link Сервиc
            a.link(href="#footer")
                li.menu__link Контакты