section.page__news.section__news.section._anim-items._container
    a(name='news')
    .news__heading.heading._container
        .heading-title
            span.heading__decor
            h2.news__title.title Новости
        a.news__button.btn Все Новости
    .news__preview.prewiew
        .preview__container
            .prewiew__main-anonce.anonce
                .image-column
                    img.anonce__illustration(src="img/news1.jpg")
                .anonce-column    
                    .anonce-title
                        h4.anonce__title.title Семинар Milos
                        span.anonce__date 27.01.2019
                    p.anonce__text.text
                        | Наши сотрудники прошли последний семинар от 
                        | компании Milos. Они получили новый объем
                        | знаний, который позволит нашей компании 
                        | заниматься оборудованием не только мероприятий, но производственных
                        | помещений.
                    a.anonce__link Читать полностью
            .prewiew__secondary-anonce.anonce
                .anonce-column
                    h4.anonce__title.title Выставка Prolight+Sound NAMM Russia 2016
                    p.anonce__text.text 30 контрактов, тысячи восторженных посетителей...               
                .image-column
                    img.anonce__illustration(src="img/news2.jpg")
                    span.anonce__date 27.01.2019
            .prewiew__secondary-anonce.anonce
                .anonce-column
                    h4.anonce__title.title Семинар Robe
                    p.anonce__text.text 30 января 2017 года наши сотрудники побывали в Берлине...
                .image-column
                    img.anonce__illustration(src="img/news3.jpg")
                    span.anonce__date 27.01.2019