section.page__projects.section__projects.section._anim-items._container
    a(name='portfolio' id='portfolio')
    .projects__heading.heading
        span.heading__decor
        h2.heading__title.title Наши проекты
        .heading__slider-navigation.slider_navigation
            span.left
            span.right
    .projects__slider-content
        ul.projects__slider.slider
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”1
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”2
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”3
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”4
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”5
            li.slider__link.slide
                .slide__body
                    a.slide__link
                        h4.slide__title.title Сск "Олимп"
                        p.slide__text.text
                            | Световое оформление форума “Шубы-2019”6