section.page__rent.section__rent.rent.section._anim-items._container
    a(name='rent')
    .rent__heading.heading
        span.heading__decor
        h2.rent__title.title Аренда оборудования
    .rent__container
        .rent__general-info
            p.rent__info-prg.text
                |Мы занимаемся прокатом светового и сценического 
                | оборудования ведущих мировых производителей, таких как Robe,
                | SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, 
                | Spotlight, Compulite, Eurolite и др.
        .rent__equipment-item-card.card.slider
            h4.card__title.title Новое оборудование, предоставляемое в аренду:
            .card__slider-navigation
                span.left
                span.right
            ul.rent__slider.slider
                li.rent__link.slide
                    a.slide__link
                        .slide__body
                            .card__equipment-item-image
                                img.card__item-photo(src='img/product1rent.png')
                            .card__features-info
                                h5.card__feature-title.title Robe Robin ParFect 100
                                ul.card__features
                                    li.card__feature.text Источник света 12 светодиодов RGBW по 15 Вт каждый
                                    li.card__feature.text Угол раскрытия 7°
                                    li.card__feature.text В комплекте рассеивающая линза 40°
                                    li.card__feature.text Потребляемая мощность 200 Вт
                li.rent__link.slide
                    a.slide__link
                        .slide__body
                            .card__equipment-item-image
                                img.card__item-photo(src='img/product2rent.png')
                            .card__features-info
                                h5.card__feature-title.title ROBE Fog 1550 FT
                                ul.card__features
                                    li.card__feature.text Генератор тумана
                                    li.card__feature.text Выход дыма: 560 куб. м в минуту.
                                    li.card__feature.text Емкость бака: 6 литров.
                                    li.card__feature.text Время нагрева до рабочей температуры: 8,5 минут
                li.rent__link.slide
                    a(href='').slide__link
                        .slide__body
                            .card__equipment-item-image
                                img.card__item-photo(src='img/product3rent.png')
                            .card__features-info
                                h5.card__feature-title.title ROBE X1 FT PRO
                                ul.card__features
                                    li.card__feature.text Новая унифицированная машина, сочетающая в себе функции приборов Fog и Faze
                                    li.card__feature.text Выход дыма: 93 куб. м в минуту.
                                    li.card__feature.text Потребление жидкости: 140 мл/мин (режим Fog), 28 мл/мин (режим Faze),
                                    li.card__feature.text Время нагрева до рабочей температуры: 6 минут